@import '../../../scss/base.scss';

.film {
    display: block;
    width: 33%;
    margin-top: 50px;
    float: left;
}

.film:first-child {
    margin-right: 0.5%;
}

.film:last-child {
    margin-left: 0.5%;
}

.film-poster {
    display: block;
    text-align: center;
}

.film-title, .film-genre {
    width: 180px;
    margin: 0 auto;
}

.film-title-content, .film-title-year {
    color: $defaultContentColor;
}

.film-title-content {
    margin: 10px 0 5px;
    float: left;
    font-weight: bold;
}

.film-title-year {
    margin: 8px 0;
    padding: 2px 5px;
    float: right;
    font-size: 10px;
    border: 1px solid $defaultContentColor;
    border-radius: 2px;
}

.film-genre {
    font-size: 10px;
    color: $defaultContentColor;
}