{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        [
            "babel-plugin-transform-require-ignore",
            { "extensions": [".jpg", ".scss"] }
        ],
        "transform-object-rest-spread",
        "transform-decorators-legacy"
    ]
}