* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
} 

.clearfix:after {
    clear: both;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}