/*
    Colors
*/

$positiveColor: rgb(184, 233, 134);
$contentColor: rgb(217, 217, 217);

$primaryBtnBgColor: rgb(245, 82, 99);
$defaultBtnBgColor: rgb(255, 255, 255);
$disabledBtnBgColor: rgb(60, 60, 60);

$primaryBtnTxtColor: rgb(255, 255, 255);
$defaultBtnTxtColor: rgb(245, 82, 99);
$disabledBtnTxtColor: rgb(255, 255, 255);

$primaryTitleColor: rgb(245, 82, 99);
$defaultTitleColor: rgb(255, 255, 255);

$defaultContentColor: rgb(60, 60, 60);

$primaryBorderColor: rgb(245, 82, 99);

$primaryBgColor: rgb(245, 82, 99);
$defaultBgColor: rgb(0, 0, 0);
$alternateBgColor: rgb(60, 60, 60);

$primaryTxtColor: rgb(245, 82, 99);
$defaultTxtColor: rgb(255, 255, 255);
$alternateTxtColor: rgb(245, 82, 99);

$infoBgColor: rgb(245, 245, 245);
$infoPrimaryColor: rgb(245, 82, 99);
$infoDefaultColor: rgb(60, 60, 60);