* {
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
} 

.clearfix:after {
    clear: both;
}

.wrapper {
    width: 768px;
    margin: 0 auto;
}

/*
    Header
*/

.wrapper-header {
    height: 300px;
    background: url('/assets/img/search-background.jpg') -50px -120px;    
}

.wrapper-header.details {
    height: 450px;
    background: url('/assets/img/details-background.jpg') -50px -120px;    
}

.wrapper-header-background {
    height: 300px;
    background: rgba(0, 0, 0, 0.8);
}

.wrapper-header-background.details {
    height: 450px;
}

.wrapper-header-content {
    width: 600px;
    margin: 0 auto;
}

.wrapper-header-content.details {
    width: 700px;
}

.wrapper-header-content-title {
    margin: 0;
    padding-top: 10px;
    font-size: 15px;
    color: rgb(245, 82, 99);
}

.wrapper-header-content-title.details {
    margin: 0 50px;
}

.wrapper-header-content-title > .link {
    padding: 5px 15px;
    float: right;
    font-size: 15px;
    color: rgb(245, 82, 99);
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;
}

.wrapper-header-content-details {
    margin-top: 50px;
}

/*
    Search Form
*/

.search-top {
    margin-top: 60px;
}

.search-top-title {
    color: rgb(255, 255, 255);
}

.search-top-input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(245, 82, 99);
}

.search-label, .search-button {
    float: left;
}

.search-label {
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.search-button {
    margin-top: 25px;
    margin-left: 15px;
    padding: 5px 15px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background: rgb(245, 82, 99);
    border: none;
    border-radius: 2px;
}

.search-button.active {
    background: rgb(60, 60, 60);
}

.search-submit {
    margin-top: 20px;
    margin-left: 15px;
    padding: 10px 50px;
    float: right;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: rgb(245, 82, 99);
    border: none;
    border-radius: 2px;
}

/*
    Details Page
*/

.details-image {
    float: left;
}

.details-description {
    margin-left: 250px;
}

.details-description-genre, .details-description-text, .details-description-small {
    color: rgb(217, 217, 217);
}

.details-description-title {
    margin: 0;
    font-size: 30px;
    color: rgb(245, 82, 99);
}

.details-description-rating {
    margin-left: 10px;
    padding: 5px;
    vertical-align: top;
    font-size: 20px;
    font-weight: normal;
    color: rgb(184, 233, 134);
    border: 1px solid rgb(184, 233, 134);
    border-radius: 50%;
}

.details-description-genre {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 18px;
}

.details-description-info {
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.details-description-duration {
    margin-left: 15px;
}

.details-description-text {
    margin-top: 25px;
    font-size: 17px;
}

.small-text {
    font-size: 12px;
}

/*
    Content
*/

.info {
    padding: 15px 30px;
    background: rgb(245, 245, 245);
}

.info-content, .info-sort {
    font-size: 18px;
    font-weight: bold;
    color: rgb(60, 60, 60);
}

.info-count {
    float: left;
}

.info-sort {
    float: right;
}

.info-sort-link {
    margin-left: 15px;
    color: rgb(245, 82, 99);
}

.info-sort-link.active {
    color: rgb(60, 60, 60);
}

.film {
    display: block;
    width: 33%;
    margin-top: 50px;
    float: left;
}

.film:first-child {
    margin-right: 0.5%;
}

.film:last-child {
    margin-left: 0.5%;
}

.film-poster {
    text-align: center;
}

.film-title, .film-genre {
    width: 180px;
    margin: 0 auto;
}

.film-title-content, .film-title-year {
    color: rgb(60, 60, 60);
}

.film-title-content {
    margin: 10px 0 5px;
    float: left;
    font-weight: bold;
}

.film-title-year {
    margin: 8px 0;
    padding: 2px 5px;
    float: right;
    font-size: 10px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 2px;
}

.film-genre {
    font-size: 10px;
    color: rgb(60, 60, 60);
}

.wrapper-footer {
    margin-top: 50px;
    height: 50px;
    background: rgb(60, 60, 60);
}

.wrapper-footer-content {
    display: inline-block;
    margin: 0 0 0 30px;
    line-height: 50px;
    vertical-align: middle;
    color: rgb(245, 82, 99);
}